<md-card class="card">
    <md-card-content layout-padding>
        <div id="layout">
            <div id="master">
                <md-toolbar color="primary">
                    <span *ngIf="!showSearch" (click)="toggleSearch()">JobSeekers</span>
                    <md-icon *ngIf="!showSearch" (click)="toggleSearch()" class="toolbar-icon">search</md-icon>
                    <md-input-container *ngIf="showSearch">
                        <input [(ngModel)]="search.name" mdInput placeholder="Type jobSeeker's name'">
                    </md-input-container>
                    <md-icon *ngIf="showSearch" (click)="toggleSearch()" class="toolbar-icon">backspace</md-icon>
                </md-toolbar>
                <md-list class="list">
                    <md-list-item *ngFor="let jobSeeker of jobSeekerService.jobSeekers | async | jobSeekerNameFilter:search.name"
                    [class.selected]="jobSeeker === selectedJobSeeker"
                    (click)="onSelect(jobSeeker)"
                    class="listItem">
                        <md-icon md-list-icon>account_box</md-icon>
                        <h4 md-line>{{jobSeeker.firstName+' '+jobSeeker.lastName}}</h4>
                        <p md-line> {{jobSeeker.address}} </p>
                    </md-list-item>
                </md-list>
            </div>
            
            <div id="detail">
                <jobSeeker-detail [inputJobSeeker]="selectedJobSeeker"></jobSeeker-detail>
            </div>  
        </div>
    </md-card-content>
</md-card>

<div class="buttons">
    <button [routerLink]="['new']" md-fab color="primary"><md-icon>add</md-icon></button>
</div>