<md-sidenav-container class="paddingContent">
    <md-sidenav #sidenav class="sidenav" mode="push">
        <h3>
            Filtering Options
            <md-icon class="filter-icon" (click)="sidenav.toggle()">check_circle</md-icon>
        </h3>
        <div class="filter-option">
            <h4><md-icon class="filter-icon">label</md-icon>Address</h4>
            <md-input-container>
                <input [(ngModel)]="filter[1].value" mdInput placeholder="Type address">
            </md-input-container>
        </div>
        <div class="filter-option">
            <h4><md-icon class="filter-icon">label</md-icon>Phone number</h4>
            <md-input-container>
                <input [(ngModel)]="filter[2].value" mdInput placeholder="Type phone number">
            </md-input-container>
        </div>
        <div class="filter-option">
            <h4><md-icon class="filter-icon">label</md-icon>Status</h4>
            <md-radio-group class="input-full-width" [(ngModel)]="filter[3].value">
                <md-radio-button class="radio-button" *ngFor="let status of statuses" [value]="status">
                    {{status}}
                </md-radio-button>
            </md-radio-group>
        </div>
        <div class="filter-option">
            <h4><md-icon class="filter-icon">label</md-icon>Gender</h4>
            <md-radio-group class="input-full-width" [(ngModel)]="filter[4].value">
                <md-radio-button class="radio-button" *ngFor="let gender of genders" [value]="gender">
                    {{gender}}
                </md-radio-button>
            </md-radio-group>
        </div>
    </md-sidenav>
    <md-card class="card">
        <md-card-content layout-padding>
            <div id="layout">
                <div id="master">
                    <md-toolbar color="primary" class="list-toolbar">
                        <div class="list-toolbar-search">
                            <span *ngIf="!showSearch" (click)="toggleSearch()">Job Seekers</span>
                            <md-input-container *ngIf="showSearch">
                                <input [(ngModel)]="filter[0].value" mdInput placeholder="Type name">
                            </md-input-container>
                        </div>
                        <div class="list-toolbar-icon">
                            <md-icon *ngIf="!showSearch" (click)="toggleSearch()" class="toolbar-icon">search</md-icon>
                            <md-icon *ngIf="showSearch" (click)="toggleSearch()" class="toolbar-icon">backspace</md-icon>
                            <md-icon (click)="sidenav.toggle()" class="toolbar-icon">reorder</md-icon>
                        </div>
                    </md-toolbar>
                    <md-list class="list">
                        <md-list-item *ngFor="let jobSeeker of jobSeekerService.jobSeekers | async | jobSeekerPipe:filter"
                        [class.selected]="jobSeeker === selectedJobSeeker"
                        (click)="onSelect(jobSeeker)"
                        class="listItem">
                            <md-icon md-list-icon>account_box</md-icon>
                            <h4 md-line>{{jobSeeker.firstName+' '+jobSeeker.lastName}}</h4>
                            <p md-line> {{jobSeeker.city}} </p>
                        </md-list-item>
                    </md-list>
                </div>
                
                <div id="detail">
                    <jobSeeker-detail [inputJobSeeker]="selectedJobSeeker"></jobSeeker-detail>
                </div>  
            </div>
        </md-card-content>
    </md-card>
    <div class="buttons">
        <!--<button [routerLink]="['new']" md-fab color="primary"><md-icon>add</md-icon></button>-->
    </div>
</md-sidenav-container>
