<div *ngIf="application async">
    <md-toolbar class="list-toolbar">
        <span class="toolbar-spacer">ID - {{application.id}}</span>
        <md-icon class="toolbar-icon">verified_user</md-icon>
    </md-toolbar>
    <div class="detail-content">
        <h3>Application Information</h3>
        <div class="content-detail">
            <div class="title">Name</div>
            <span>{{application.jobSeeker.lastName}}&nbsp;{{application.jobSeeker.firstName}}</span>
        </div>
        <div class="content-detail">
            <div class="title">Applied Date</div>
            <span>{{application.appliedOn}}</span>
        </div>
        <div class="content-detail">
            <div class="title">Status</div>
            <span>{{applicationStatus}}</span>
        </div>
        <h3>Applicant Information</h3>
        <div class="content-detail">
            <div class="title">ID</div>
            <span>{{application.jobSeeker.id}}</span>
        </div>
        <div class="content-detail">
            <div class="title">Street</div>
            <span>{{application.jobSeeker.street}}</span>
        </div>
        <div class="content-detail">
            <div class="title">City</div>
            <span>{{application.jobSeeker.city}}</span>
        </div>
        <div class="content-detail">
            <div class="title">Province</div>
            <span>{{application.jobSeeker.province}}</span>
        </div>
        <div class="content-detail">
            <div class="title">Country</div>
            <span>{{application.jobSeeker.country}}</span>
        </div>
        <div class="content-detail">
            <div class="title">Postal code</div>
            <span>{{application.jobSeeker.postalCode}}</span>
        </div>
        <div class="content-detail">
            <div class="title">Email</div>
            <span>{{application.jobSeeker.email}}</span>
        </div>
        <div class="content-detail">
            <div class="title">Phone</div>
            <span>{{application.jobSeeker.phone}}</span>
        </div>
        <div class="content-detail">
            <div class="title">SIN</div>
            <span>{{application.jobSeeker.sin}}</span>
        </div>
        <div class="content-detail">
            <div class="title">DOB</div>
            <span>{{application.jobSeeker.DOB}}</span>
        </div>
        <div class="content-detail">
            <div class="title">Status</div>
            <span>{{application.jobSeeker.status}}</span>
        </div>
        <div class="content-detail">
            <div class="title">Gender</div>
            <span>{{application.jobSeeker.gender}}</span>
        </div>
    </div>
    <div class="buttons">
        <button (click)="cancel()" md-raised-button color="primary">Cancel</button>
        <button (click)="deny()" md-raised-button color="primary">Deny</button>
        <button (click)="accept()" md-raised-button color="primary">Approve</button>
    </div>
</div>