<div *ngIf="employer async">
    <md-toolbar class="list-toolbar">
        <span class="toolbar-spacer">ID - {{employer.id}}</span>
        <md-icon class="toolbar-icon">verified_user</md-icon>
    </md-toolbar>
    <div class="detail-content">
        <md-input-container>
            <input [(ngModel)]="employer.name" mdInput placeholder="Name of employer" required maxlength=200>
            <md-hint align="end">{{employer.name.length}} / 200</md-hint>
        </md-input-container>
        <md-input-container class="input-full-width">
            <input [(ngModel)]="employer.email" mdInput placeholder="Email" email required maxlength=200>
            <md-hint align="end">{{employer.email.length}} / 200</md-hint>
        </md-input-container>
        <md-input-container class="input-full-width">
            <input [(ngModel)]="employer.phone" mdInput placeholder="Phone number" required maxlength=20>
            <md-hint align="end">{{employer.phone.length}} / 20</md-hint>
        </md-input-container>
        <md-input-container class="input-full-width">
            <input [(ngModel)]="employer.website" mdInput placeholder="Website address" required maxlength=200>
            <md-hint align="end">{{employer.website.length}} / 200</md-hint>
        </md-input-container>
        <md-input-container class="input-full-width">
            <input [(ngModel)]="employer.street" mdInput placeholder="Street" required maxlength=200>
            <md-hint align="end">{{employer.street.length}} / 200</md-hint>
        </md-input-container>
        <md-input-container class="input-full-width">
            <input [(ngModel)]="employer.city" mdInput placeholder="City" required maxlength=200>
            <md-hint align="end">{{employer.city.length}} / 200</md-hint>
        </md-input-container>
        <md-input-container class="input-full-width">
            <input [(ngModel)]="employer.province" mdInput placeholder="Province" required maxlength=200>
            <md-hint align="end">{{employer.province.length}} / 200</md-hint>
        </md-input-container>
        <md-input-container class="input-full-width">
            <input [(ngModel)]="employer.country" mdInput placeholder="Country" required maxlength=200>
            <md-hint align="end">{{employer.country.length}} / 200</md-hint>
        </md-input-container>
        <md-input-container class="input-full-width">
            <input [(ngModel)]="employer.postalCode" mdInput placeholder="Postal code" required maxlength=200>
            <md-hint align="end">{{employer.postalCode.length}} / 200</md-hint>
        </md-input-container>
    </div>
    <div class="buttons">
        <button (click)="delete()" md-raised-button color="primary">Delete</button>
        <button (click)="post()" md-raised-button color="primary">Save</button>
    </div>
</div>